.mirror {
    display: none;
    font-size: 2cm;
}

@media print {
    #root>:not(.mirror) {
        transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        pointer-events: none;
        background-color: red;
        display: none;
    }

    .mirror {
        display: block;
    }
}

